@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

/* Customizing the Scrollbar */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Green color, similar to the button color */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #333; /* Border around the thumb for a defined look */
}

::-webkit-scrollbar-track {
    background-color: #333; /* Dark background for the track */
    border-radius: 10px; /* Rounded corners for the track */
}

body{
    background-color: black;
    color: white;
}

.left{
    width: 25vw;
    height: 100%;
    padding: 10px;
    position: fixed;
    left: 0px;
    overflow-y: auto;
    box-sizing: border-box; 
    scrollbar-width: none;
}

.right{
    width: 75vw;
    margin: 15px 15px 15px 25vw;
    padding: 10px;
    border-radius: 7px;
}

.logo {
    gap:10px;
}
.logo p{
    padding-top: 2px;
    font-weight: bold;
    font-size: x-large;
}

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 24px;
    margin-left: 8px;
    font-weight: 600;
}

.heading img{
    width: 25px;
}

.heading h2{
    width: 100%;
}
.heading {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 12px;
}

.library {
    min-height: 80%;
    position: relative;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    font-size: 10px;
    gap: 13px;
    color: grey;
    position: absolute;
    bottom: 0;
}
.footer a{
    text-decoration: none;
    color: grey;
}
.popular-artists{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 32vh;
    scrollbar-width: none;
    margin: 10px;
}
.artist-card{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    justify-content: center;
    padding: 20px;
    position: relative;
    border-radius: 15px;
}
.artist-card > *{
    width: 100%;
}

.artist-card img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.artist-card h2{
    font-size: 17px;
}
.artist-card p{
    font-size: 14px;
    color: grey;
}

.spotify-playlists{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 35vh;
    scrollbar-width: none;
    margin: 10px;
}
.playlist-card{
    display: flex;
    flex-wrap: wrap;
    width: 150px;
    
    justify-content: center;
    padding: 20px;
    position: relative;
    border-radius: 15px;
}
.playlist-card > *{
    width: 100%;
}

.playlist-card img{
    height: 150px;
    width: 100%;
    border-radius: 10px;
}
.playlist-card h2{
    padding-top: 10px;
    font-size: 17px;
}
.playlist-card p{
    font-size: 14px;
    color: grey;
}

.play {
    width: 50px;
    height: 50px;
    background-color: #1ed760;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(90%, 175%);
    opacity: 0;
    transition: all 1s ease-out;
}
.play img {
    width: 24px;
    height:24px;
}
.playbar {
    bottom: 0;
    position: fixed;
    background-color: #1f1f1f;
    /* padding-left: 15px; */
    height: 10vh;
    width: 73vw;
    display: flex;
    justify-content: center;
    border-radius: 30px 30px 0px 0px;
    flex-wrap: wrap;
}
.playbar > * {
    width: 97%;
}
.songbuttons{
    display: flex;
    justify-content: center;
}
.songbuttons button {
    background-color: #1ed760;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
}
#repeat {
    margin: 10px 0px 10px 4vw;
    height: 30px;
    width: 30px;
    border: 2px solid #1ed760;
}

.songtime {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}
.songlist ul{
    padding: 12px;
    max-height: 40vh;
    overflow-y: scroll;
    /* scrollbar-width: none; */
}
.songlist ul li {
    list-style: none;
    width: 80%;
    padding: 7px 0px 7px 8px;
    margin: 0 24px
}
.songlist ul li button{
    background-color: #1ed760;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;

}
.songlist ul li button img {
    height: 30px;
    width: 30px;
}
.dummy-div{
    height: 25vh;
}
.hovered{
    background-color: #656866;
    transition: all 1s ease-out;
}
.seekbar {
    height: 3px;
    background-color: white;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.circle{
    height: 20px;
    width: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    left: 0%;
    transition: left 0.5s;
}
.playbar-below {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.hamburger{
    display: none;
}

@media (max-width : 1450px) {
    .left{
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 373px;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }
    .right{
        width: 100%;
        margin: 0px;
    }
    .playbar{
        width: 97vw;
        position: fixed;
        left: 14px;
    }
    .hamburger{
        filter: invert(1);
        display: block;
        position: fixed;
        right: 3vw;
    }
}

@media (max-width : 500px) {
    .playbar{
        height: 20vh;
    }
    .playbar-below > *{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .playbar-below{
        justify-content: center;
    }
    .spotify-playlists{
        overflow-y: none;
        max-height: none;
        scrollbar-width: none;
    }
    .artist-card{
        width: 80vw;
        padding: 20px 2vw;
    }
    .playlist-card{
        width: 80vw;
        padding: 20px 2vw;
    }
    .spotify-playlists{
        justify-content: center;
    }
    .popular-artists{
        justify-content: center;
    }
    .playlist-card .a-img{
        height: 80vw;
        width: 100%;
    }
    .artist-card .a-img{
        height: 55vw;
        width: 55vw;
    }
}
